body {
    background: url('../assets/darkness.png');
}

#video_player {
display: table;
line-height: 0;
font-size: 0;
background: #000;
max-width: 1000px;
margin: 0 auto;
}
#video_container {
position: relative;
}
#video_player div,
#video_player figcaption {
display: table-cell;
vertical-align: top;
}
#video_container video {
position: absolute;
display: block;
width: 100%;
height: 100%;
top: 0;
}
#video_player figcaption {
width: 20%;
}
#video_player figcaption a {
display: block;
}
#video_player figcaption a {
opacity: .5;
transition: 1s opacity;
}
#video_player figcaption a img,
figure video {
width: 100%;
height: auto;
}
#video_player figcaption a.currentvid,
#video_player figcaption a:hover,
#video_player figcaption a:focus {
opacity: 1;
}
@media (max-width: 700px) {
#video_player video,
#video_player figcaption {
  display: table-row;
}
#video_container {
  padding-top: 56.25%;
}
#video_player figcaption a {
  display: inline-block;
  width: 33.33%;
}
}

.subhead {
  color: white;
  text-align: center;
}

a, a:visited {
  color: darkorange;
}

a:hover, a:active, a:focus {
  color: black;
}

a.social {
  margin: 0px 10px;
}
.logo-white {
  width: 35%;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .social-bookmarks {
    margin: 0 auto;
  }
}

/* Crazy text effects */
.box-with-text {
  position: relative;
  overflow: hidden;
  text-align: center;
  font: 5vmax/1 Open Sans, Impact;
  /* Hack to hide thin transparent lines while resize objects */ }
  .box-with-text:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0vmax 0vmax 10vmax 10vmax white, 15vmax 0vmax 10vmax 10vmax chocolate, 30vmax 0vmax 10vmax 10vmax white, 45vmax 0vmax 10vmax 10vmax orangered, 60vmax 0vmax 10vmax 10vmax yellow, 75vmax 0vmax 10vmax 10vmax white, 90vmax 0vmax 10vmax 10vmax darkorange, 105vmax 0vmax 10vmax 10vmax orange, 120vmax 0vmax 10vmax 10vmax white, 135vmax 0vmax 10vmax 10vmax white, 0vmax 15vmax 10vmax 10vmax white, 15vmax 15vmax 10vmax 10vmax darkorange, 30vmax 15vmax 10vmax 10vmax peru, 45vmax 15vmax 10vmax 10vmax orange, 60vmax 15vmax 10vmax 10vmax peru, 75vmax 15vmax 10vmax 10vmax gold, 90vmax 15vmax 10vmax 10vmax white, 105vmax 15vmax 10vmax 10vmax chocolate, 120vmax 15vmax 10vmax 10vmax white, 135vmax 15vmax 10vmax 10vmax orangered, 0vmax 30vmax 10vmax 10vmax yellow, 15vmax 30vmax 10vmax 10vmax white, 30vmax 30vmax 10vmax 10vmax darkorange, 45vmax 30vmax 10vmax 10vmax orange, 60vmax 30vmax 10vmax 10vmax white, 75vmax 30vmax 10vmax 10vmax white, 90vmax 30vmax 10vmax 10vmax white, 105vmax 30vmax 10vmax 10vmax darkorange, 120vmax 30vmax 10vmax 10vmax peru, 135vmax 30vmax 10vmax 10vmax orange, 0vmax 45vmax 10vmax 10vmax peru, 15vmax 45vmax 10vmax 10vmax gold, 30vmax 45vmax 10vmax 10vmax darkorange, 45vmax 45vmax 10vmax 10vmax white, 60vmax 45vmax 10vmax 10vmax chocolate, 75vmax 45vmax 10vmax 10vmax white, 90vmax 45vmax 10vmax 10vmax orangered, 105vmax 45vmax 10vmax 10vmax yellow, 120vmax 45vmax 10vmax 10vmax white, 135vmax 45vmax 10vmax 10vmax darkorange, 0vmax 60vmax 10vmax 10vmax orange, 15vmax 60vmax 10vmax 10vmax white, 30vmax 60vmax 10vmax 10vmax white, 45vmax 60vmax 10vmax 10vmax white, 60vmax 60vmax 10vmax 10vmax darkorange, 75vmax 60vmax 10vmax 10vmax peru, 90vmax 60vmax 10vmax 10vmax orange, 105vmax 60vmax 10vmax 10vmax peru, 120vmax 60vmax 10vmax 10vmax gold, 135vmax 60vmax 10vmax 10vmax darkorange;
    -webkit-animation: shadows-cells 2.5s linear infinite;
    animation: shadows-cells 2.5s linear infinite; }
  .box-with-text:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    display: block;
    border: 4px solid black; }

.text {
  position: relative;
  display: block;
  background: black;
  color: white;
  mix-blend-mode: darken; }

@-webkit-keyframes shadows-cells {
  25% {
    box-shadow: 0vmax 0vmax 10vmax 10vmax peru, 15vmax 0vmax 10vmax 10vmax orange, 30vmax 0vmax 10vmax 10vmax peru, 45vmax 0vmax 10vmax 10vmax gold, 60vmax 0vmax 10vmax 10vmax white, 75vmax 0vmax 10vmax 10vmax chocolate, 90vmax 0vmax 10vmax 10vmax white, 105vmax 0vmax 10vmax 10vmax orangered, 120vmax 0vmax 10vmax 10vmax yellow, 135vmax 0vmax 10vmax 10vmax white, 0vmax 15vmax 10vmax 10vmax darkorange, 15vmax 15vmax 10vmax 10vmax orange, 30vmax 15vmax 10vmax 10vmax white, 45vmax 15vmax 10vmax 10vmax white, 60vmax 15vmax 10vmax 10vmax white, 75vmax 15vmax 10vmax 10vmax darkorange, 90vmax 15vmax 10vmax 10vmax peru, 105vmax 15vmax 10vmax 10vmax orange, 120vmax 15vmax 10vmax 10vmax peru, 135vmax 15vmax 10vmax 10vmax gold, 0vmax 30vmax 10vmax 10vmax darkorange, 15vmax 30vmax 10vmax 10vmax white, 30vmax 30vmax 10vmax 10vmax chocolate, 45vmax 30vmax 10vmax 10vmax white, 60vmax 30vmax 10vmax 10vmax orangered, 75vmax 30vmax 10vmax 10vmax yellow, 90vmax 30vmax 10vmax 10vmax white, 105vmax 30vmax 10vmax 10vmax darkorange, 120vmax 30vmax 10vmax 10vmax orange, 135vmax 30vmax 10vmax 10vmax white, 0vmax 45vmax 10vmax 10vmax white, 15vmax 45vmax 10vmax 10vmax white, 30vmax 45vmax 10vmax 10vmax darkorange, 45vmax 45vmax 10vmax 10vmax peru, 60vmax 45vmax 10vmax 10vmax orange, 75vmax 45vmax 10vmax 10vmax peru, 90vmax 45vmax 10vmax 10vmax gold, 105vmax 45vmax 10vmax 10vmax darkorange, 120vmax 45vmax 10vmax 10vmax white, 135vmax 45vmax 10vmax 10vmax chocolate, 0vmax 60vmax 10vmax 10vmax white, 15vmax 60vmax 10vmax 10vmax orangered, 30vmax 60vmax 10vmax 10vmax yellow, 45vmax 60vmax 10vmax 10vmax white, 60vmax 60vmax 10vmax 10vmax darkorange, 75vmax 60vmax 10vmax 10vmax orange, 90vmax 60vmax 10vmax 10vmax white, 105vmax 60vmax 10vmax 10vmax white, 120vmax 60vmax 10vmax 10vmax white, 135vmax 60vmax 10vmax 10vmax darkorange; }
  45% {
    box-shadow: 0vmax 0vmax 10vmax 10vmax darkorange, 15vmax 0vmax 10vmax 10vmax orange, 30vmax 0vmax 10vmax 10vmax white, 45vmax 0vmax 10vmax 10vmax white, 60vmax 0vmax 10vmax 10vmax white, 75vmax 0vmax 10vmax 10vmax darkorange, 90vmax 0vmax 10vmax 10vmax peru, 105vmax 0vmax 10vmax 10vmax orange, 120vmax 0vmax 10vmax 10vmax peru, 135vmax 0vmax 10vmax 10vmax gold, 0vmax 15vmax 10vmax 10vmax white, 15vmax 15vmax 10vmax 10vmax chocolate, 30vmax 15vmax 10vmax 10vmax white, 45vmax 15vmax 10vmax 10vmax orangered, 60vmax 15vmax 10vmax 10vmax yellow, 75vmax 15vmax 10vmax 10vmax white, 90vmax 15vmax 10vmax 10vmax darkorange, 105vmax 15vmax 10vmax 10vmax orange, 120vmax 15vmax 10vmax 10vmax white, 135vmax 15vmax 10vmax 10vmax white, 0vmax 30vmax 10vmax 10vmax white, 15vmax 30vmax 10vmax 10vmax darkorange, 30vmax 30vmax 10vmax 10vmax peru, 45vmax 30vmax 10vmax 10vmax orange, 60vmax 30vmax 10vmax 10vmax peru, 75vmax 30vmax 10vmax 10vmax gold, 90vmax 30vmax 10vmax 10vmax darkorange, 105vmax 30vmax 10vmax 10vmax white, 120vmax 30vmax 10vmax 10vmax chocolate, 135vmax 30vmax 10vmax 10vmax white, 0vmax 45vmax 10vmax 10vmax orangered, 15vmax 45vmax 10vmax 10vmax yellow, 30vmax 45vmax 10vmax 10vmax white, 45vmax 45vmax 10vmax 10vmax darkorange, 60vmax 45vmax 10vmax 10vmax orange, 75vmax 45vmax 10vmax 10vmax white, 90vmax 45vmax 10vmax 10vmax white, 105vmax 45vmax 10vmax 10vmax white, 120vmax 45vmax 10vmax 10vmax darkorange, 135vmax 45vmax 10vmax 10vmax peru, 0vmax 60vmax 10vmax 10vmax orange, 15vmax 60vmax 10vmax 10vmax peru, 30vmax 60vmax 10vmax 10vmax gold, 45vmax 60vmax 10vmax 10vmax darkorange, 60vmax 60vmax 10vmax 10vmax white, 75vmax 60vmax 10vmax 10vmax chocolate, 90vmax 60vmax 10vmax 10vmax white, 105vmax 60vmax 10vmax 10vmax orangered, 120vmax 60vmax 10vmax 10vmax yellow, 135vmax 60vmax 10vmax 10vmax white; }
  75% {
    box-shadow: 0vmax 0vmax 10vmax 10vmax white, 15vmax 0vmax 10vmax 10vmax orangered, 30vmax 0vmax 10vmax 10vmax yellow, 45vmax 0vmax 10vmax 10vmax white, 60vmax 0vmax 10vmax 10vmax darkorange, 75vmax 0vmax 10vmax 10vmax orange, 90vmax 0vmax 10vmax 10vmax white, 105vmax 0vmax 10vmax 10vmax white, 120vmax 0vmax 10vmax 10vmax white, 135vmax 0vmax 10vmax 10vmax darkorange, 0vmax 15vmax 10vmax 10vmax peru, 15vmax 15vmax 10vmax 10vmax orange, 30vmax 15vmax 10vmax 10vmax peru, 45vmax 15vmax 10vmax 10vmax gold, 60vmax 15vmax 10vmax 10vmax darkorange, 75vmax 15vmax 10vmax 10vmax white, 90vmax 15vmax 10vmax 10vmax chocolate, 105vmax 15vmax 10vmax 10vmax white, 120vmax 15vmax 10vmax 10vmax orangered, 135vmax 15vmax 10vmax 10vmax yellow, 0vmax 30vmax 10vmax 10vmax white, 15vmax 30vmax 10vmax 10vmax darkorange, 30vmax 30vmax 10vmax 10vmax orange, 45vmax 30vmax 10vmax 10vmax white, 60vmax 30vmax 10vmax 10vmax white, 75vmax 30vmax 10vmax 10vmax white, 90vmax 30vmax 10vmax 10vmax darkorange, 105vmax 30vmax 10vmax 10vmax peru, 120vmax 30vmax 10vmax 10vmax orange, 135vmax 30vmax 10vmax 10vmax peru, 0vmax 45vmax 10vmax 10vmax gold, 15vmax 45vmax 10vmax 10vmax darkorange, 30vmax 45vmax 10vmax 10vmax white, 45vmax 45vmax 10vmax 10vmax chocolate, 60vmax 45vmax 10vmax 10vmax white, 75vmax 45vmax 10vmax 10vmax orangered, 90vmax 45vmax 10vmax 10vmax yellow, 105vmax 45vmax 10vmax 10vmax white, 120vmax 45vmax 10vmax 10vmax darkorange, 135vmax 45vmax 10vmax 10vmax orange, 0vmax 60vmax 10vmax 10vmax white, 15vmax 60vmax 10vmax 10vmax white, 30vmax 60vmax 10vmax 10vmax white, 45vmax 60vmax 10vmax 10vmax darkorange, 60vmax 60vmax 10vmax 10vmax peru, 75vmax 60vmax 10vmax 10vmax orange, 90vmax 60vmax 10vmax 10vmax peru, 105vmax 60vmax 10vmax 10vmax gold, 120vmax 60vmax 10vmax 10vmax darkorange, 135vmax 60vmax 10vmax 10vmax white; } }
@keyframes shadows-cells {
  25% {
    box-shadow: 0vmax 0vmax 10vmax 10vmax peru, 15vmax 0vmax 10vmax 10vmax orange, 30vmax 0vmax 10vmax 10vmax peru, 45vmax 0vmax 10vmax 10vmax gold, 60vmax 0vmax 10vmax 10vmax white, 75vmax 0vmax 10vmax 10vmax chocolate, 90vmax 0vmax 10vmax 10vmax white, 105vmax 0vmax 10vmax 10vmax orangered, 120vmax 0vmax 10vmax 10vmax yellow, 135vmax 0vmax 10vmax 10vmax white, 0vmax 15vmax 10vmax 10vmax darkorange, 15vmax 15vmax 10vmax 10vmax orange, 30vmax 15vmax 10vmax 10vmax white, 45vmax 15vmax 10vmax 10vmax white, 60vmax 15vmax 10vmax 10vmax white, 75vmax 15vmax 10vmax 10vmax darkorange, 90vmax 15vmax 10vmax 10vmax peru, 105vmax 15vmax 10vmax 10vmax orange, 120vmax 15vmax 10vmax 10vmax peru, 135vmax 15vmax 10vmax 10vmax gold, 0vmax 30vmax 10vmax 10vmax darkorange, 15vmax 30vmax 10vmax 10vmax white, 30vmax 30vmax 10vmax 10vmax chocolate, 45vmax 30vmax 10vmax 10vmax white, 60vmax 30vmax 10vmax 10vmax orangered, 75vmax 30vmax 10vmax 10vmax yellow, 90vmax 30vmax 10vmax 10vmax white, 105vmax 30vmax 10vmax 10vmax darkorange, 120vmax 30vmax 10vmax 10vmax orange, 135vmax 30vmax 10vmax 10vmax white, 0vmax 45vmax 10vmax 10vmax white, 15vmax 45vmax 10vmax 10vmax white, 30vmax 45vmax 10vmax 10vmax darkorange, 45vmax 45vmax 10vmax 10vmax peru, 60vmax 45vmax 10vmax 10vmax orange, 75vmax 45vmax 10vmax 10vmax peru, 90vmax 45vmax 10vmax 10vmax gold, 105vmax 45vmax 10vmax 10vmax darkorange, 120vmax 45vmax 10vmax 10vmax white, 135vmax 45vmax 10vmax 10vmax chocolate, 0vmax 60vmax 10vmax 10vmax white, 15vmax 60vmax 10vmax 10vmax orangered, 30vmax 60vmax 10vmax 10vmax yellow, 45vmax 60vmax 10vmax 10vmax white, 60vmax 60vmax 10vmax 10vmax darkorange, 75vmax 60vmax 10vmax 10vmax orange, 90vmax 60vmax 10vmax 10vmax white, 105vmax 60vmax 10vmax 10vmax white, 120vmax 60vmax 10vmax 10vmax white, 135vmax 60vmax 10vmax 10vmax darkorange; }
  45% {
    box-shadow: 0vmax 0vmax 10vmax 10vmax darkorange, 15vmax 0vmax 10vmax 10vmax orange, 30vmax 0vmax 10vmax 10vmax white, 45vmax 0vmax 10vmax 10vmax white, 60vmax 0vmax 10vmax 10vmax white, 75vmax 0vmax 10vmax 10vmax darkorange, 90vmax 0vmax 10vmax 10vmax peru, 105vmax 0vmax 10vmax 10vmax orange, 120vmax 0vmax 10vmax 10vmax peru, 135vmax 0vmax 10vmax 10vmax gold, 0vmax 15vmax 10vmax 10vmax white, 15vmax 15vmax 10vmax 10vmax chocolate, 30vmax 15vmax 10vmax 10vmax white, 45vmax 15vmax 10vmax 10vmax orangered, 60vmax 15vmax 10vmax 10vmax yellow, 75vmax 15vmax 10vmax 10vmax white, 90vmax 15vmax 10vmax 10vmax darkorange, 105vmax 15vmax 10vmax 10vmax orange, 120vmax 15vmax 10vmax 10vmax white, 135vmax 15vmax 10vmax 10vmax white, 0vmax 30vmax 10vmax 10vmax white, 15vmax 30vmax 10vmax 10vmax darkorange, 30vmax 30vmax 10vmax 10vmax peru, 45vmax 30vmax 10vmax 10vmax orange, 60vmax 30vmax 10vmax 10vmax peru, 75vmax 30vmax 10vmax 10vmax gold, 90vmax 30vmax 10vmax 10vmax darkorange, 105vmax 30vmax 10vmax 10vmax white, 120vmax 30vmax 10vmax 10vmax chocolate, 135vmax 30vmax 10vmax 10vmax white, 0vmax 45vmax 10vmax 10vmax orangered, 15vmax 45vmax 10vmax 10vmax yellow, 30vmax 45vmax 10vmax 10vmax white, 45vmax 45vmax 10vmax 10vmax darkorange, 60vmax 45vmax 10vmax 10vmax orange, 75vmax 45vmax 10vmax 10vmax white, 90vmax 45vmax 10vmax 10vmax white, 105vmax 45vmax 10vmax 10vmax white, 120vmax 45vmax 10vmax 10vmax darkorange, 135vmax 45vmax 10vmax 10vmax peru, 0vmax 60vmax 10vmax 10vmax orange, 15vmax 60vmax 10vmax 10vmax peru, 30vmax 60vmax 10vmax 10vmax gold, 45vmax 60vmax 10vmax 10vmax darkorange, 60vmax 60vmax 10vmax 10vmax white, 75vmax 60vmax 10vmax 10vmax chocolate, 90vmax 60vmax 10vmax 10vmax white, 105vmax 60vmax 10vmax 10vmax orangered, 120vmax 60vmax 10vmax 10vmax yellow, 135vmax 60vmax 10vmax 10vmax white; }
  75% {
    box-shadow: 0vmax 0vmax 10vmax 10vmax white, 15vmax 0vmax 10vmax 10vmax orangered, 30vmax 0vmax 10vmax 10vmax yellow, 45vmax 0vmax 10vmax 10vmax white, 60vmax 0vmax 10vmax 10vmax darkorange, 75vmax 0vmax 10vmax 10vmax orange, 90vmax 0vmax 10vmax 10vmax white, 105vmax 0vmax 10vmax 10vmax white, 120vmax 0vmax 10vmax 10vmax white, 135vmax 0vmax 10vmax 10vmax darkorange, 0vmax 15vmax 10vmax 10vmax peru, 15vmax 15vmax 10vmax 10vmax orange, 30vmax 15vmax 10vmax 10vmax peru, 45vmax 15vmax 10vmax 10vmax gold, 60vmax 15vmax 10vmax 10vmax darkorange, 75vmax 15vmax 10vmax 10vmax white, 90vmax 15vmax 10vmax 10vmax chocolate, 105vmax 15vmax 10vmax 10vmax white, 120vmax 15vmax 10vmax 10vmax orangered, 135vmax 15vmax 10vmax 10vmax yellow, 0vmax 30vmax 10vmax 10vmax white, 15vmax 30vmax 10vmax 10vmax darkorange, 30vmax 30vmax 10vmax 10vmax orange, 45vmax 30vmax 10vmax 10vmax white, 60vmax 30vmax 10vmax 10vmax white, 75vmax 30vmax 10vmax 10vmax white, 90vmax 30vmax 10vmax 10vmax darkorange, 105vmax 30vmax 10vmax 10vmax peru, 120vmax 30vmax 10vmax 10vmax orange, 135vmax 30vmax 10vmax 10vmax peru, 0vmax 45vmax 10vmax 10vmax gold, 15vmax 45vmax 10vmax 10vmax darkorange, 30vmax 45vmax 10vmax 10vmax white, 45vmax 45vmax 10vmax 10vmax chocolate, 60vmax 45vmax 10vmax 10vmax white, 75vmax 45vmax 10vmax 10vmax orangered, 90vmax 45vmax 10vmax 10vmax yellow, 105vmax 45vmax 10vmax 10vmax white, 120vmax 45vmax 10vmax 10vmax darkorange, 135vmax 45vmax 10vmax 10vmax orange, 0vmax 60vmax 10vmax 10vmax white, 15vmax 60vmax 10vmax 10vmax white, 30vmax 60vmax 10vmax 10vmax white, 45vmax 60vmax 10vmax 10vmax darkorange, 60vmax 60vmax 10vmax 10vmax peru, 75vmax 60vmax 10vmax 10vmax orange, 90vmax 60vmax 10vmax 10vmax peru, 105vmax 60vmax 10vmax 10vmax gold, 120vmax 60vmax 10vmax 10vmax darkorange, 135vmax 60vmax 10vmax 10vmax white; } }
